*{
    margin: 0;
    padding: 0;
}
li{list-style: none;}
.header{
    width: 860px;
    height: 80px;
    background-color: #eee;
    margin: 0 auto;
    position: relative;
}
.header a{
    font-size: 16px;
    color: red;
    padding: 5px;
    border: 1px solid red;
    position: absolute;
    right: 10px;top:20px
}
.main{
    width: 860px;
    overflow: hidden;
    margin: 20px auto;
}
.content{
    width: 900px;
    overflow: hidden;
}
.list li{
    float: left;
    width: 198px;
    margin-right: 20px;
    margin-bottom: 20px;
    border: 1px solid #fff;
}
.list li:hover{
    border-color: red;
}
.list img{
    width: 198px;
    height: 198px;
    display: block;
}
.list h3{
    font-weight: normal;
    font-size: 24px;
    color: red;
}
.list p{
    font-size: 14px;
    color: #666;
    margin-bottom: 10px;
}
.list span{
    display: block;
    padding: 6px 10px 6px 34px;
    background: url('../img/cart.png') 4px 4px no-repeat;
    border: 1px solid red;
    float: left;
    cursor: pointer;
}